body{
    background-color: #3C4a5E;
   text-align: center;
}

 h1 {
       text-align: center;
       color:#E5C364 ;
       font-family: 'Times' 'sans-serif' ;
       font-style: italic;
}


p{
      text-align: center;
       color:#E5C364 ;
      font-family: 'Times' 'sans-serif' ;
       font-style: italic;
}

h2{
      text-align: center;
       color:#E5C364 ;
      font-family: 'Times' 'sans-serif' ;
       font-style: italic;

}